header {
  position: fixed;
  top: 0;
  width: 50%;
  padding: 70px 80px 20px 80px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;

  @include responsive(ipadpro) {
    padding: 50px 40px 20px 40px;
  }

  @include responsive(tablet) {
    width: 100%;
    padding: 20px;
    z-index: 110;
  }

  .nav-logo {
    width: 31px;
    height: 45px;
    margin-top: 3px;
  }

  .pull-right {
    text-align: right;

    .header-button {
      display: block;
      float: left;

      &.smaller {
        margin-top: 8px;
      }
    }

    .ant-input-search {
      width: 200px;

      &.active {
        display: block !important;
        position: absolute;
        z-index: 210;
        top: 14px;
        width: 100%;
        left: 0;
        height: 48px;

        input {
          border-radius: 0;
          border-left: 0;
          border-right: 0;
          padding-left: 20px;

          &:focus, &:hover {
            border-color: #d9d9d9;
            box-shadow: none;
          }
        }
      }

      .ant-input-suffix {
        right: 20px;
      }

      @include responsive(ipadpro) {
        width: 160px;
      }
    }

    .avatar-steemit {
      margin-left: 5px; // additional 5px (right 8px)
    }

    .right-margin {
      margin-right: 8px;

      @include responsive(tiny) {
        margin-right: 5px;
      }
    }

    .ant-btn-primary {
      text-decoration: none;

      @include responsive(mobile) {
        padding-left: 12px;
        padding-right: 12px;
      }

      @include responsive(tiny) {
        padding-left: 10px;
        padding-right: 10px;
      }

      &:last-child {
        margin-right: 0
      }
    }

    .avatar-steemit {
      position: relative;
    }
  }
}

// override for header dropdown
.ant-popover.ant-popover-placement-bottomRight {
  .ant-popover-inner-content, .ant-popover-arrow {
    background: #001529;
  }

  .ant-popover-inner-content {
    padding: 0;
  }

  .menu-follow-button {
    width: 100%;
    text-align: left;
    padding: 0;
    background-color: transparent;
    border: 0;
  }
}
