header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 70px 80px 20px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;

  @include responsive(ipadpro) {
    padding: 50px 40px 20px 40px;
  }

  @include responsive(tablet) {
    position: sticky;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    z-index: 110;
  }

  .nav-logo {
    width: 31px;
    height: 45px;
  }

  .pull-right {
    text-align: right;
    margin-top: 2px;

    .header-button {
      display: block;
      float: left;

      &.smaller {
        margin-top: 5px;
      }
    }

    .ant-input-search {
      width: 200px;

      &.active {
        display: block !important;
        position: absolute;
        z-index: 210;
        top: 12px;
        width: 100%;
        left: 0;
        height: 48px;

        input {
          border-radius: 0;
          border-left: 0;
          border-right: 0;
          padding-left: 20px;

          &:focus, &:hover {
            border-color: #d9d9d9;
            box-shadow: none;
          }
        }
      }

      @include responsive(ipadpro) {
        width: 160px;
      }
    }

    .avatar-container {
      position: relative;
      width: 40px;
      height: 40px;
      margin-left: 8px;

      .avatar-steemit {
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        position: relative;
      }
    }

    .right-margin {
      margin-right: 8px;

      @include responsive(tiny) {
        margin-right: 5px;
      }
    }

    .ant-btn-primary {
      text-decoration: none;

      @include responsive(mobile) {
        padding-left: 12px;
        padding-right: 12px;
      }

      @include responsive(tiny) {
        padding-left: 10px;
        padding-right: 10px;
      }

      &:last-child {
        margin-right: 0
      }
    }
  }
}

// override for header dropdown
.menu-popover.ant-popover.ant-popover-placement-bottom,
.menu-popover.ant-popover.ant-popover-placement-bottomRight {
  .ant-popover-inner-content, .ant-popover-arrow {
    background: $dark_background;
    right: 15px !important;
  }

  .ant-popover-inner-content {
    padding: 0;
  }

  .menu-follow-button {
    width: 100%;
    text-align: left;
    padding: 0;
    background-color: transparent;
    border: 0;
  }

  .sub {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    line-height: 1;
    font-size: 0.75rem;
    cursor: default;

    .group {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0.3rem;
      }

      .label {
        color: rgba(255, 255, 255, 0.5);
      }

      .ant-progress {
        line-height: 1.2;

        .ant-progress-bg {
          background-color: $primary;
        }

        .ant-progress-inner {
          background-color: rgba(255, 255, 255, 0.85);
        }

        .ant-progress-text {
          color: rgba(255, 255, 255, 0.5);
          font-size: 0.75rem;
          margin-left: 5px;
        }
      }
    }
  }
}

.menu-popover.ant-popover.ant-popover-placement-bottomRight {
  .ant-popover-inner-content, .ant-popover-arrow {
    right: 20px;
  }
}
