.level-bar {
  width: 100%;

  h2 {
    color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      .level-question {
        margin-left: 0.3125rem;
        margin-bottom: 0.1875rem;
        font-size: 0.875rem;
        font-weight: 200;
      }
    }
  }

  .level-row {
    background-color: #f5f5f5;
    width: 38%;
    margin: 35px auto 15px auto;

    @include responsive(mobile) {
      width: 60%;
    }
  }
  

  .level-col {
    border-right: 5px solid white;
    height: 0.875rem;
  }

}
