.airdrops {
  padding: 80px;
  color: $light_grey;
  text-align: left;
  background-color: #151515;
  @include responsive(mobile) {
    padding: 65px 20px;
  }
  .page-block {
    margin-bottom: 50px;
    h1 {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.7rem;
      line-height: 2.2rem;
      color: $primary;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 1.5rem;
    }

    h2 {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.5rem;
      line-height: 1.8rem;
      color: $primary;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 1.5rem;
      &.margin-top {
        margin-top: 5rem;
      }
      &.bottom-line {
        border-bottom: 0.5px solid #979797;
        padding-bottom: 5px;
        margin-bottom: 5px;
      }
      span {
        float: right;
        color: $light_grey;
        font-size: 0.8rem;
        font-weight: 300;
      }
    }

    a {
      color: $primary !important;
    }

    .thin {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      font-size: 0.9375rem;
      .inner-block {
        margin-top: 1.5rem;
      }
    }
    .round-progress {
      display: inline-flex;
      flex-direction: column;
      margin: 0 5% 5% 0;
      @include responsive(mobile) {
        max-width: 45%;
      }
      .ant-progress {
        .ant-progress-circle-trail {
          stroke: #4e4e4e;
        }
        .ant-progress-circle-path {
          stroke: $primary;
        }
        .ant-progress-text {
          color: $light_grey;
        }
      }
      .progress-text {
        margin-top: 5px;
        font-size: 0.8rem;
      }
    }
    .bar-progress {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      .ant-progress {
        .ant-progress-outer {
        }
        .ant-progress-inner {
          background-color: #151515;
        }
        .ant-progress-bg {
          background-color: $primary;
        }
        .ant-progress-text {
          color: $light_grey;
        }
      }
      .progress-text {
        margin-top: 5px;
        font-size: 0.8rem;
      }
      &.disabled {
        .ant-progress {
          .ant-progress-outer {
          }
          .ant-progress-inner {
            background-color: #151515;
          }
          .ant-progress-bg {
            background-color: #4a4a4a;
          }
          .ant-progress-text {
            color: $light_grey;
          }
        }
      }
    }
  }

  .icon-num {
    display: block;
    margin-top: 5rem;
    margin-bottom: 0.875rem;
    margin-left: auto;
    margin-right: auto;
    width: 39px;
    height: 39px;
  }

  .action {
    display: block;
    margin: 2rem 0;

    &.less-margin {
      margin: .8rem 0 1.5rem 0;
    }

    .anticon {
      margin-left: 0.25rem;
    }
  }

  .image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &.token {
      margin-top:  3rem;
      max-width: 590px;
    }
    &.sp-swap {
      max-width: 398px;
      margin-top: 3rem;
      margin-bottom: 5rem;
    }
    &.hunt-platform {
      max-width: 578px;
    }
  }
} // .airdrops