.contents-page {
  padding: 140px 160px 50px 160px;
  color: #fff;
  text-align: left;
  background-color: #151515;

  @include responsive(ipadpro) {
    padding: 70px 80px 35px 80px;
  }

  @include responsive(mobile) {
    padding: 80px 40px 45px 40px;
  }

  .page-block {
    margin-bottom: 90px;

    @include responsive(ipadpro) {
      margin-bottom: 45px;
    }

    h1 {
      margin-left: auto;
      margin-right: auto;
      font-size: 2.8rem;
      line-height: 1.3em;
      color: $primary;
      text-align: left;
      margin-bottom: 1.5rem;

      @include responsive(ipadpro) {
        font-size: 2rem;
      }

      @include responsive(mobile) {
        font-size: 1.7rem;
      }
    }

    h2 {
      margin-left: auto;
      margin-right: auto;
      font-size: 1.375rem;
      line-height: 1.3em;
      color: $primary;
      text-align: left;
      margin-bottom: 1.5rem;

      @include responsive(mobile) {
        font-size: 1.2rem;
      }

      &.margin-top {
        margin-top: 5rem;
      }
      &.bottom-line {
        border-bottom: 0.5px solid #979797;
        padding-bottom: 5px;
        margin-bottom: 5px;
      }
      span {
        float: right;
        color: #fff;
        font-size: 0.75rem;
        font-weight: 300;
      }
    }

    a {
      color: $primary !important;
    }

    .thin {
      margin-left: auto;
      margin-right: auto;
      font-size: 0.875rem;
      .inner-block {
        margin-top: 1.5rem;
      }
    }
    .round-progress {
      display: inline-flex;
      flex-direction: column;
      margin: 0 5% 5% 0;
      @include responsive(mobile) {
        max-width: 45%;
      }
      .ant-progress {
        .ant-progress-circle-trail {
          stroke: #4e4e4e !important;
        }
        .ant-progress-circle-path {
          stroke: $primary !important;
        }
        .ant-progress-text {
          color: #fff;
          font-size: 1.25rem;
        }
      }
      .progress-text {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 0.75rem;
        text-align: center;
      }
    }
    .bar-progress {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.75rem;

      .ant-progress {
        margin-top: -3px;
        .ant-progress-outer {
        }
        .ant-progress-inner {
          background-color: #151515;
        }
        .ant-progress-bg {
          background-color: $primary;
        }
        .ant-progress-text {
          color: #fff;
        }
      }
      .progress-text {
        font-size: 0.75rem;
      }
      &.disabled {
        .ant-progress {
          .ant-progress-outer {
          }
          .ant-progress-inner {
            background-color: #151515;
          }
          .ant-progress-bg {
            background-color: #4a4a4a;
          }
          .ant-progress-text {
            color: #fff;
          }
        }
      }
    }

    .sign-up-samples {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      position: relative;
      .sign-up-samples-left {
        width: 50%;
        text-align: right;
        padding-right: 5px;
        img {
          width: 50%;
        }
        span {
          left: 0;
        }
      }

      .sign-up-samples-right {
        width: 50%;
        padding-left: 5px;
        img {
          width: 50%;
        }
        span {
          right: 0;
        }
      }

      span.primary-round {
        background-color: rgba(252, 111, 111, 0.7);
        width: 150px;
        height: 150px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
      }
    }
  }

  .icon-num {
    display: block;
    margin-top: 5rem;
    margin-bottom: 0.875rem;
    margin-left: auto;
    margin-right: auto;
    width: 39px;
    height: 39px;
  }

  .action {
    display: block;
    margin: 2rem 0;

    &.less-margin {
      margin: 1.2rem 0 3rem 0;
    }

    .anticon {
      margin-left: 0.25rem;
    }
  }

  .image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &.token {
      margin-top:  3rem;
      max-width: 590px;
    }
    &.sp-swap {
      max-width: 398px;
      margin-top: 3rem;
      margin-bottom: 5rem;
    }
    &.hunt-platform {
      max-width: 578px;
    }
  }
} // .airdrops