.sign-up-form {
  h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    line-height: 1.3em;
    color: $primary;
    text-align: center;
    margin-bottom: 1.5rem;

    @include responsive(ipadpro) {
      font-size: 1.7rem;
    }

    @include responsive(mobile) {
      font-size: 1.5rem;
    }
  }

  .form-container {
    width: 368px;
    margin: 0 auto;

    @include responsive(mobile) {
      width: 90%;
    }

    img {
      width: 109px;
      height: 98px;
      object-fit: contain;
      margin: 40px auto 30px auto;
      display: flex;
      &.full-width {
        width: 100%;
        margin: 0px;
      }
    }

    p {
      width: 368px;
      height: 66px;
      font-size: 1rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #707070;
    }

    .ant-form {
      margin-top: 40px;
      .ant-row {
        margin-bottom: 10px;
      }
    }

    .actions-container {
      margin-bottom: 18px;
      button {
        margin-bottom: 10px;
        height: 40px;
      }
    }

    .private-key-container {
      background-color: #f6f6f6;
      border: solid 1px #d9d9d9;
      border-style: dashed;
      border-radius: 4px;
      height: 68px;
      padding: 10px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary;
      word-break: break-word;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  p.form-tail {
    font-size: 0.8125rem;
    color: $text_grey;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.private-key-modal {
  .ant-modal-body {
    padding: 30px 60px 0px 60px;
    text-align: center;
    h1 {
      color: $primary;
      margin-bottom: 41px;
    }
    p {
      font-size: 1rem;
      text-align: center;
      color: #707070;
      margin-bottom: 34px;
    }
  }
  .ant-modal-footer {
    border: none;
    padding: 0px 60px 30px 60px;
    display: flex;
    justify-content: center;
    @include responsive(mobile) {
      display: block;
    }
    button {
      @include responsive(mobile) {
        width: 100%;
        margin: 0px 0px 8px 0px;
      }
    }
  }
}